@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Condensed:wght@300&family=Roboto+Slab:wght@600&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

.logo-text {
    font-family: 'Poppins', sans-serif;
}

nav {
    font-family: 'Roboto Slab', serif;
}

.home-description {
    font-family: 'Poppins', sans-serif;    
}

.walk {
    font-family: 'Roboto', sans-serif;
}

footer {
    font-family: 'Roboto Condensed', sans-serif;
}

