@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Condensed:wght@300&family=Roboto+Slab:wght@600&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* --- Header ---------------------------------------------------------------------------------- */

header {
    font-size: x-small;
    background-color: rgb(133, 220, 228);
    height: auto;

    /* bad user experience if smaller */
    min-width: 300px;

    border: solid 1px maroon;
    margin: 1rem 0.5rem;
    padding: 1rem 0.5rem;
}

.logo-text {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.3em;
    color: maroon;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
}

nav {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    color: maroon;
}

header li {
    display: inline-block;
    list-style-type: none;
    margin: 0.5rem 0.5rem;
    padding: 0.5rem 0.5rem;
    vertical-align: middle;
    text-align: center;
    letter-spacing: 0.5em;
}

header ul {
    text-align: center;
}

header a {
    text-decoration: none;
    color: maroon;
}

header a:hover:not(.active) {
    color: rgb(223, 132, 163);
}

.active {
    border-bottom: 2px solid maroon;
}

/* --- Main ------------------------------------------------------------------------------------ */

main {
    font-family: 'Poppins', sans-serif;
    font-size: x-small;
    text-align: center;
    vertical-align: top;
    color: maroon;
    letter-spacing: 0.5em;
    height: 400px;
    position: relative;

    border: solid 1px maroon;
    margin: 1rem 0.5rem;

    /* bad user experience if smaller */
    min-width: 300px;
}

#hero-image {
    background-image: url('../images/hero-image.jpg');
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: mintcream;
}

#hero-text {
    text-align: center;
    width: 10em;
    height: 11em;
    position: absolute;
    bottom: -50px;
    right: 20px;
    color: maroon;
    font-weight: bold;
    background-color:mintcream;
    padding: 2em 1em;
    border: solid 5px orange;
  }


/* Footer */

footer {
    border: solid 1px maroon;
    margin: 1rem 0.5rem;
    padding: 1rem 0.5rem;
    
    height: auto;
    background-color: rgb(234, 218, 160);

    /* bad user experience if smaller */
    min-width: 300px;
}

footer div {
    font-family: 'Roboto Condensed', sans-serif;
    color: maroon;
    text-align: left;
    font-size: xx-small;
    font-weight: bold;
    letter-spacing: 0.2em;
}

/* Section with all the walks */

.walk {
    font-family: 'Roboto', sans-serif;
}